<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/eventoapp/src/main/resources/static/css/showEventos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style="background-color: #212529;">
   
    <div class="card col-sm-3 mt-4" style="margin: 0 auto; background-color: #334150;">
      <h2 class="mt-4" style="margin: 0 auto; color: white;">Log-in</h2>
      <div class="card-body">
          <form method="post" th:action="@{/process-login}">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" style="color: white;">CPF</label>
                <input type="String" class="form-control" id="exampleInputEmail1" name="username">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" style="color: white;">Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
              </div>
              <button type="submit" class="btn btn-outline-info">Entrar</button>
            </form>
      </div>
    </div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>