<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="background-color: #212529;">
    <nav th:replace="~{fragments/adminNav.html :: navType(true)}"></nav>
      <!-- String nome, long matricula, String cpf, String email, String senha, Date dataNascimento -->
      <div class="card col-sm-4 mt-4" style="margin: 0 auto;">
        <div class="card-body">
            <form method="POST" action="/coordenador/process-aluno">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" name="nome">
                  </div>
                  <div class="mb-3">
                    <label for="cpf" class="form-label">CPF</label>
                    <input type="text" class="form-control" name="cpf">
                  </div>
                  <div class="mb-3">
                    <label for="dataNascimento" class="form-label">Data de Nascimento</label>
                    <input type="date" class="form-control" name="dataNascimento">
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email">
                  </div>
                  <div class="row">
                    <label for="matricula" class="form-label">Matrícula</label>
                    <div class="mb-3 col-sm-9">
                      <input type="text" class="form-control" name="matricula" id="matricula">
                    </div>
                    <div class="col-sm-3">
                      <button class="btn btn-outline-info" style="width: 100%;" onclick="getRandomInt()" id="matric" type="button">Gerar</button>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="text" class="form-control" name="senha">
                  </div>
                  <div class="mb-3">
                    <label for="curso" class="form-label">Curso</label>
                    <select class="form-select" aria-label="Default select example" name="curso">
                      <option disabled selected></option>
                      <option th:each="item : ${cursos}" th:value="${item.nome}" th:text="${item.nome}"></option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="semestre" class="form-label">Semestre</label>
                    <input type="number" class="form-control" name="semestre">
                  </div>
                  <input type="text" class="form-control" name="cargos" value="Aluno" hidden>
                  <button class="form-control" type="submit">Cadastrar Aluno</button>
            </form>
        </div>
      </div>

      <script>
        var butMatricula = document.getElementById("matricula")
        function getRandomInt() {
          min = Math.ceil(222000000);
          max = Math.floor(222999999);
          return butMatricula.value = Math.floor(Math.random() * (max - min) + min);
        }
      </script>




    <script type="text/javascript" src="js/materialize.min.js"></script>      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>